use_sops() {
    local path=${1:-$PWD/secrets/howigotpwned.env}
    eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
    watch_file "$path"
}

use flake 
use sops
watch_file ./nix/* .git/HEAD

REPO_ROOT=$(git rev-parse --show-toplevel)
export DAGSTER_HOME=$REPO_ROOT/dagster_home
export NESSIE_BRANCH=$(git rev-parse --abbrev-ref HEAD 2> /dev/null)
