use flake --experimental-features 'nix-command flakes'
watch_file ./nix/* .env .git/HEAD

REPO_ROOT=$(git rev-parse --show-toplevel)
export DAGSTER_HOME=$REPO_ROOT/dagster_home
export NESSIE_BRANCH=$(git rev-parse --abbrev-ref HEAD 2> /dev/null)

set -a
source .env
set +a
